.dropdownButton {
  width: max-content;
  border: none;
}

.option {
  margin-right: 10px; 
  position: relative;
}

.attached {
  border: 0;
}

.dropdown {
  display: flex;
  padding: 5px;
  color: white;
  background-color: gray;
}

.dropdownMenu {
  width: max-content;
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: 2px solid gray;
}

.nameLabel {
  cursor: pointer;
}

.nameLabel.active {
  background-color: chocolate;
}